










































.div_principal {
    background-color: #282c34;
    position: relative;
    width: 42px;
    height: 35px;
    margin: 0rem 1rem 0rem 1.5rem;
}


.carrito{
    display: flex;
    position: absolute;
    border: white solid 1px;
    border-radius: 7px;
    width: 41px;
    height: 35px;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 3px 7px;
}

.numero{
    position: absolute;
    font-size: small;
    font-weight: bolder;
    top: 3%;
    left: 57%;
    background: red;
    width: 16px;
    height: 16px;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0px;

}
