.principalContenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    
}

.contenedor{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 635px;
    border: solid blue 2px;
    background-color: burlywood;
}

.titulo {
    color: blue;
    margin: 2rem 3rem 2rem 3rem;
    display: flex;
    width: 350px;
    justify-content: center;
}

.foto{
    display: flex;
    margin: 0rem 3rem 0rem 3rem;
    border: solid white 1px;
    width: 320px;
    height: 400px;
}

.precio{
    color: blue;
    display: flex;
    margin: 1rem 3rem 0.5rem 3rem;
    width: 350px;
    justify-content: center;
}