.contador {
    height: 80%;
    width:  20vh;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    &__div{
        display: flex;
        justify-content: space-between;
        background-color: white;
        &__rest{
            border: solid black 3px;
            height: 100%;
            width: 40px;
            font-size: larger;
            background-color: tomato;
            color: black;
            font-weight: 400;

        }
        &__rest:hover{
            border: solid white 3px;
            color: white;
            background-color: rgb(12, 77, 12);
        }
        &__number{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
            margin: 2px;
            color: black;
            height: 100%;
            width: 60px;
            font-size: larger;
            font-weight: 400;

        }
        &__sum{
            border: solid black 3px;
            height: 100%;
            width: 40px;
            font-size: larger;
            background-color: tomato;
            color: black;
            font-weight: 400;

        }
        &__sum:hover{
            border: solid white 3px;
            color: white;
            background-color: rgb(12, 77, 12);
        }
    
    }
    &__button{
        background-color: rgb(12, 77, 12);
        border: black solid 1px;
        border-radius: 5px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
        font-size: medium;
        font-weight: 600;
        height: auto;
        width: 18rem;
        text-align: center;
        margin-top: 13px;
        padding: 0.25rem 2rem 0.3rem 2rem ; 
    }
    &__button:hover{
        background-color: white;
        color: black;

    }

    &__button2{
        background-color: blue;
        border: black solid 1px;
        padding: 0.4rem 4.2rem 0.3rem 4.2rem ;
        border-radius: 5px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
        font-size: medium;
        font-weight: 600;
        height: auto;
        text-align: center;
      }
      &__button2:hover{
        background-color: white;
        color: black;

    }

    &__disabled{
        background-color: red;
        border: black solid 1px;
        border-radius: 5px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
        font-size: medium;
        font-weight: 600;
        height: auto;
        text-align: center;
        margin-top: 10px;
        padding: 0.25rem 2rem 0.3rem 2rem ; 
    }

}